<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runhang.sell.mapper.VendorHeartMapper" >
  <resultMap id="BaseResultMap" type="com.runhang.sell.model.VendorHeart" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="heart_type" property="heartType" jdbcType="INTEGER" />
    <result column="signal" property="signal" jdbcType="INTEGER" />
    <result column="app_status" property="appStatus" jdbcType="VARCHAR" />
    <result column="machine_state" property="machineState" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="vd_id" property="vdId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="vmcTemperature" property="vmctemperature" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, heart_type, `signal`, app_status, machine_state, version, vd_id, create_time, update_time,
    deleted, reason, vmcTemperature
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.runhang.sell.model.VendorHeartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from am_vendor_heart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from am_vendor_heart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from am_vendor_heart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.runhang.sell.model.VendorHeartExample" >
    delete from am_vendor_heart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.runhang.sell.model.VendorHeart" useGeneratedKeys="true" keyProperty="id" >
    insert into am_vendor_heart (id, heart_type, signal, 
      app_status, machine_state, version, 
      vd_id, create_time, update_time, 
      deleted, reason, vmcTemperature
      )
    values (#{id,jdbcType=INTEGER}, #{heartType,jdbcType=INTEGER}, #{signal,jdbcType=INTEGER}, 
      #{appStatus,jdbcType=VARCHAR}, #{machineState,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{vdId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, #{vmctemperature,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.runhang.sell.model.VendorHeart" useGeneratedKeys="true" keyProperty="id" >
    insert into am_vendor_heart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="heartType != null" >
        heart_type,
      </if>
      <if test="signal != null" >
        `signal`,
      </if>
      <if test="appStatus != null" >
        app_status,
      </if>
      <if test="machineState != null" >
        machine_state,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="vdId != null" >
        vd_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="vmctemperature != null" >
        vmcTemperature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="heartType != null" >
        #{heartType,jdbcType=INTEGER},
      </if>
      <if test="signal != null" >
        #{signal,jdbcType=INTEGER},
      </if>
      <if test="appStatus != null" >
        #{appStatus,jdbcType=VARCHAR},
      </if>
      <if test="machineState != null" >
        #{machineState,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="vdId != null" >
        #{vdId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="vmctemperature != null" >
        #{vmctemperature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.runhang.sell.model.VendorHeartExample" resultType="java.lang.Integer" >
    select count(*) from am_vendor_heart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update am_vendor_heart
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.heartType != null" >
        heart_type = #{record.heartType,jdbcType=INTEGER},
      </if>
      <if test="record.signal != null" >
        `signal` = #{record.signal,jdbcType=INTEGER},
      </if>
      <if test="record.appStatus != null" >
        app_status = #{record.appStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.machineState != null" >
        machine_state = #{record.machineState,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.vdId != null" >
        vd_id = #{record.vdId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=INTEGER},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.vmctemperature != null" >
        vmcTemperature = #{record.vmctemperature,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update am_vendor_heart
    set id = #{record.id,jdbcType=INTEGER},
      heart_type = #{record.heartType,jdbcType=INTEGER},
    `signal` = #{record.signal,jdbcType=INTEGER},
      app_status = #{record.appStatus,jdbcType=VARCHAR},
      machine_state = #{record.machineState,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      vd_id = #{record.vdId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=INTEGER},
      reason = #{record.reason,jdbcType=VARCHAR},
      vmcTemperature = #{record.vmctemperature,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.runhang.sell.model.VendorHeart" >
    update am_vendor_heart
    <set >
      <if test="heartType != null" >
        heart_type = #{heartType,jdbcType=INTEGER},
      </if>
      <if test="signal != null" >
        `signal` = #{signal,jdbcType=INTEGER},
      </if>
      <if test="appStatus != null" >
        app_status = #{appStatus,jdbcType=VARCHAR},
      </if>
      <if test="machineState != null" >
        machine_state = #{machineState,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="vdId != null" >
        vd_id = #{vdId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="vmctemperature != null" >
        vmcTemperature = #{vmctemperature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.runhang.sell.model.VendorHeart" >
    update am_vendor_heart
    set heart_type = #{heartType,jdbcType=INTEGER},
      `signal` = #{signal,jdbcType=INTEGER},
      app_status = #{appStatus,jdbcType=VARCHAR},
      machine_state = #{machineState,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      vd_id = #{vdId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      vmcTemperature = #{vmctemperature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>