<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <contextName>VendPlat30</contextName>
    <timestamp key="TIMESTAMP" datePattern="yyyy-MM-dd" />
    <property name="LOGPATH" value="logs/" />
    <property name="LOGPRE" value="sell-" />
    <!-- 输出到控制台 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 输出到文件 -->
    <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGPATH}${file.separator}${LOGPRE}${TIMESTAMP}.log</file>
        <append>true</append>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGPATH}${file.separator}all${file.separator}${LOGPRE}%d.%i.log</fileNamePattern>
            <!-- each file should be at most 10MB, keep 30 days worth of history -->
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.runhang.sell" additivity="false" level="info">
        <appender-ref ref="stdout" />
        <appender-ref ref="fileLog" />
    </logger>
    
    <!--mybatis log conf-->
    <logger name="com.apache.ibatis" level="TRACE"/>
    <logger name="org.apache.ibatis.transaction.managed" level="ERROR" addtivit="false"/>
    <logger name="java.sql.Connection" level="ERROR"/>
    <logger name="java.sql.Statement" level="ERROR"/>
    <logger name="java.sql.PreparedStatement" level="ERROR"/>
    <!--activiti log conf-->
    <logger name="org.activiti" level="ERROR"/>
    <logger name="org.springframework.jdbc" level="ERROR"/>
    <!--quartz log conf-->
    <logger name="org.quartz" level="ERROR"/>
    <logger name="org.springframework.scheduling.quartz" level="ERROR"/>
    <!-- spring cloud log conf -->
    <logger name="com.netflix" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>
    <!-- mqtt log conf -->    
    <logger name="org.springframework.integration" level="ERROR"/>
    
    
    

    <root level="info">
        <appender-ref ref="fileLog" />
        <appender-ref ref="stdout"  />
    </root>
</configuration>